.dart_tool/
.packages
.pub-cache/
build/
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
android/.gradle/
android/app/build/
.idea/
.vscode/
*.lock
*.iml
*.ipr
*.iws
*.env
